body{
    background-color: #245257;
}
#head_container{
    background: #246f78;
    width: 100%;
    display: grid;

    grid-template-columns: repeat (8, 1fr);
    grid-template-rows: repeat (8, 1fr);
    grid-template-areas:
    "home"
    "aboutme"
    "engineering"
    "softskills"
    "projects"
    "links"
    "linkedin"
    "github";

    text-align: center;
    color: white;
    font-size: 1.5em;
    line-height: 1.3cm;
    font-family: georgia;
}

@media(min-width: 900px){
    #head_container{
        background: #246f78;
        width: 100%;
        align: center;

        display: grid;
        grid-template-columns: repeat (8, 1fr);
        grid-template-rows: 50px;
        grid-template-areas:
        "home aboutme engineering softskills projects links linkedin github";

        text-align: center;
        color: white;
        font-size: 1.5em;
        line-height: 1.3cm;
        font-family: georgia;
    }
}
@media(min-width: 1200px){
    #head_container{
        background: #246f78;
        width: 1200px;

        display: grid;
        grid-template-columns: repeat (8, 1fr);
        grid-template-rows: 50px;
        grid-template-areas:
        "home aboutme engineering softskills projects links linkedin github";

        text-align: center;
        color: white;
        font-size: 1.5em;
        line-height: 1.3cm;
        font-family: georgia;
    }
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
#headlink:hover{
    background-color: #2e6957;
    color: white;
    text-decoration: none;
    border: 1px solid white;
}
.homelink{
    grid-area: home;
}
.aboutmelink{
    grid-area: aboutme;
}
.engineeringlink{
    grid-area: engineering;
}
.softskillslink{
    grid-area: softskills;
}
.projectslink{
    grid-area: projects;
}
.linkslink{
    grid-area: links;
}
.linkedinlink{
    grid-area: linkedin;
}
.githublink{
    grid-area: github;
}
#footer{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    font-family: georgia;
}
.title_text_style{
    color: #00ff00 !important;
}
.container{
    width: 100%;
    align: center;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 50px repeat(2, 1fr) 250px;
    grid-template-areas:
    "header "
    "search "
    "topics "
    "topics"
    "quicklinks";
}
@media(min-width: 1200px){
    .container{
        width: 1200px;
        align: center;
        margin-bottom: 50px;

        display: grid;
        grid-template-columns: repeat(2 1fr) 1px;
        grid-template-rows: 180px 50px repeat(2, 1fr);
        grid-template-areas:
        "header header quicklinks"
        "search search quicklinks"
        "topics topics  quicklinks"
        "topics topics  quicklinks";
    }
}
#textbox{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: white;
    font-family: Garamond;
}
.header{
    grid-area: header;
}
.search{
    grid-area: search;
}
.topics{
    grid-area: topics;
}
.quicklinks{
    margin-top: 30px;
    grid-area: quicklinks;
}
#quicklinkurl{
    color: yellow !important;
    font-size: 1.2em !important;
    text-decoration: underline;
}
#TopicsGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 170px 220px 200px;
    grid-gap: 5px;
}
@media(min-width: 800px){
    #TopicsGrid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px;
        grid-gap: 5px;
    }
}
.topicBox{
    width: 350px;
    height: 150px;
}
.button {
  border: 2px solid #008CBA;
  width: 150px;
  cursor: pointer;
  padding: 3px 3px;
  transition-duration: 0.4s;
  display: inline-block;

  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #008CBA;
  color: white;
}
