body{
    background-color: #245257;
}
#head_container{
    background: #246f78;
    width: 100%;

    display: grid;
    grid-template-columns: repeat (8, 1fr);
    grid-template-rows: repeat (8, 1fr);
    grid-template-areas:
    "home"
    "aboutme"
    "engineering"
    "softskills"
    "projects"
    "links"
    "linkedin"
    "github";

    text-align: center;
    color: white;
    font-size: 1.5em;
    line-height: 1.3cm;
    font-family: georgia;
}

@media(min-width: 900px){
    #head_container{
        background: #246f78;
        width: 100%;
        align: center;

        display: grid;
        grid-template-columns: repeat (8, 1fr);
        grid-template-rows: 50px;
        grid-template-areas:
        "home aboutme engineering softskills projects links linkedin github";

        text-align: center;
        color: white;
        font-size: 1.5em;
        line-height: 1.3cm;
        font-family: georgia;
    }
}
@media(min-width: 1200px){
    #head_container{
        background: #246f78;
        width: 1200px;

        display: grid;
        grid-template-columns: repeat (8, 1fr);
        grid-template-rows: 50px;
        grid-template-areas:
        "home aboutme engineering softskills projects links linkedin github";

        text-align: center;
        color: white;
        font-size: 1.5em;
        line-height: 1.3cm;
        font-family: georgia;
    }
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
#headlink:hover{
    background-color: #2e6957;
    color: white;
    text-decoration: none;
    border: 1px solid white;
}
.homelink{
    grid-area: home;
}
.aboutmelink{
    grid-area: aboutme;
}
.engineeringlink{
    grid-area: engineering;
}
.softskillslink{
    grid-area: softskills;
}
.projectslink{
    grid-area: projects;
}
.linkslink{
    grid-area: links;
}
.linkedinlink{
    grid-area: linkedin;
}
.githublink{
    grid-area: github;
}
#footer{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    font-family: georgia;
}
.title_text_style{
    color: #00ff00 !important;
}
.container{
    width: 100%;
    align: center;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 80px 218px;
    grid-template-areas:
    "text"
    "subscribe"
    "photo";
}
@media(min-width: 1200px){
    .container{
        width: 1200px;
        height: 70%;

        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-rows: 25% 75%;
        grid-template-areas:
        "text subscribe"
        "text photo";
    }
}
.textbar{
    grid-area: text;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 70px;
    margin-bottom: 70px;

    text-align: left;
    color: white;
    font-family: Garamond;
}
.photoBox{
    grid-area: photo;
    background-position: center;
    background-image:url('images/hand.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.button{
    grid-area: subscribe;
    align-self: center;
    justify-self: center !important;
}
.subscribe_button{
    width: 300px;
    margin-bottom: 40px;
    cursor: pointer;
    padding: 3px 3px;
    transition-duration: 0.4s;
    display: inline-block;

    border: 2px solid #008CBA;
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;

    background-size: contain;
    background-position: right;
}
.subscribe_button:hover {
  background-color: #008CBA;
  color: white;
}
