body{
    background-color: #245257;
}
#head_container{
    background: #246f78;
    width: 100%;

    display: grid;
    grid-template-columns: repeat (8, 1fr);
    grid-template-rows: repeat (8, 1fr);
    grid-template-areas:
    "home"
    "aboutme"
    "engineering"
    "softskills"
    "projects"
    "links"
    "linkedin"
    "github";

    text-align: center;
    color: white;
    font-size: 1.5em;
    line-height: 1.3cm;
    font-family: georgia;
}

@media(min-width: 900px){
    #head_container{
        background: #246f78;
        width: 100%;
        align: center;

        display: grid;
        grid-template-columns: repeat (8, 1fr);
        grid-template-rows: 50px;
        grid-template-areas:
        "home aboutme engineering softskills projects links linkedin github";

        text-align: center;
        color: white;
        font-size: 1.5em;
        line-height: 1.3cm;
        font-family: georgia;
    }
}
@media(min-width: 1200px){
    #head_container{
        background: #246f78;
        width: 1200px;

        display: grid;
        grid-template-columns: repeat (8, 1fr);
        grid-template-rows: 50px;
        grid-template-areas:
        "home aboutme engineering softskills projects links linkedin github";

        text-align: center;
        color: white;
        font-size: 1.5em;
        line-height: 1.3cm;
        font-family: georgia;
    }
}
a:link {
    color: white;
    text-decoration:none;
}
a:visited {
    color: white;
}
#headlink:hover{
    background-color: #2e6957;
    color: white;
    text-decoration: none;
    border: 1px solid white;
}
.homelink{
    grid-area: home;
}
.aboutmelink{
    grid-area: aboutme;
}
.engineeringlink{
    grid-area: engineering;
}
.softskillslink{
    grid-area: softskills;
}
.projectslink{
    grid-area: projects;
}
.linkslink{
    grid-area: links;
}
.linkedinlink{
    grid-area: linkedin;
}
.githublink{
    grid-area: github;
}
#footer{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    font-family: georgia;
}
.title_text_style{
    color: #00ff00 !important;
}
.container{
    width: 100%;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr  1300px;
    grid-template-areas:
    "aboutme"
    "skills";
}
@media(min-width: 1200px){
    .container{
        width: 1200px;
        height: 70%;

        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas:
        "aboutme skills";
    }
}
.aboutme{
    grid-area: aboutme;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 70px;
    margin-bottom: 20px;

    text-align: left;
    color: white;
    font-family: Garamond;
}
.skills{
    grid-area: skills;

    align: center;
    margin-top: 30px;

    text-align: left;
    color: white;
    font-family: Garamond;
}
